<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pedidos</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pedido of pedidos" 
              [ngClass]="{
                'estado-entregado': pedido.estado === 'entregado',
                'estado-transito': pedido.estado === 'transito',
                'estado-no-entregado': pedido.estado === 'no-entregado',
                'estado-devuelto': pedido.estado === 'devuelto'
              }"
              class="pedido-item">
      <ion-label class="pedido-label">
        <h2>Pedido #{{ pedido.id }}</h2>
        <p>Estado: {{pedido.estado}}</p>
        <p>{{ pedido.direccion }}</p>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="navigateToDetail(pedido.id)">
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  
</ion-content>
