<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tracker</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content class="ion-padding">
  <div class="header-container">
    <h1>Rastrea tu pedido</h1>
    <p>Ingresa tu n° de orden</p>
  </div>

  <div class="form-container">
    <form (ngSubmit)="onSubmit()" #trackingForm="ngForm">
      <ion-item lines="none" class="custom-input">
        <ion-input type="text" [(ngModel)]="trackingNumber" name="trackingNumber" required placeholder="Número de pedido"></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" [disabled]="!trackingForm.form.valid" class="track-button">
        <ion-icon name="search-outline" slot="start"></ion-icon>
        Buscar
      </ion-button>
    </form>
  </div>

  <div class="status-container" *ngIf="currentStatus">
    <h2>Shipment Status</h2>
    <div class="status-card" [ngClass]="{'not-found': currentStatus === 'Not Found'}">
      <ion-icon [name]="getStatusIcon()" class="status-icon"></ion-icon>
      <h3>{{ currentStatus }}</h3>
    </div>

    <div class="timeline" *ngIf="currentStatus !== 'Not Found'">
      <div class="timeline-item" *ngFor="let step of steps; let i = index" [ngClass]="{'active': isStepActive(step)}">
        <div class="timeline-icon">
          <ion-icon [name]="step.icon"></ion-icon>
        </div>
        <div class="timeline-content">
          <h4>{{ step.status }}</h4>
          <p>{{ step.date }}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>