<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Validación de Código</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="codigo-container">
    <!-- Campo para ingresar código de pedido -->
    <ion-item>
      <ion-input
        type="text"
        placeholder="Ingresar código de pedido"
        class="input-codigo"
      ></ion-input>
    </ion-item>

    <!-- Botón de Validar Código -->
    <ion-button expand="block"  class="button-codigo">
      Validar Código
    </ion-button>
  </div>
</ion-content>
