<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="login" href="/tabs/login">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Search" href="/tabs/search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="qrscanner" href="/tabs/qrscanner">
      <ion-icon name="scan-circle-outline"></ion-icon>
      <ion-label>Scanner</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tracking" href="/tabs/tracking">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
