<ion-header>
  <ion-toolbar>
    <ion-title>Barcode scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="scanner-container">
    <h1>Barcode scanner</h1>
    <div class="scanner-animation">
      <div class="scanner-line"></div>
    </div>
    
    <ion-button (click)="scanBarcode()" expand="block">
      <ion-icon name="barcode-outline" slot="start"></ion-icon>
      Escanear
    </ion-button>
  </div>

  <ion-modal [isOpen]="showModal" (didDismiss)="closeModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Resultado del escaneo</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="scan-result">
          <h2>Codigo escaneado</h2>
          <p>{{ scannedCode }}</p>
          <div *ngIf="scanResult">
            <h3>Detalles del Envío</h3>
            <p>ID Envío: {{ scanResult.id_envio }}</p>
            <p>ID Estado Envío: {{ scanResult.id_estado_envio }}</p>
            <p>ID Repartidor: {{ scanResult.id_repartidor }}</p>
            <p>ID Cliente: {{ scanResult.id_cliente }}</p>
            <p>Fecha Pedido Inicio: {{ scanResult.fecha_pedido_inicio }}</p>
            <p>Fecha Pedido Fin: {{ scanResult.fecha_pedido_fin }}</p>
            <p>Dirección Origen: {{ scanResult.direccion_origen }}</p>
            <p>Dirección Destino: {{ scanResult.direccion_destino }}</p>
            <p>Costo Total: {{ scanResult.costo_total }}</p>
          </div>
          <ion-button expand="block" (click)="editCode()">
            <ion-icon name="create-outline" slot="start"></ion-icon>
            Edit
          </ion-button>
        </div>
        <div class="recent-scans">
          <h3>Ultimos escaneos</h3>
          <ion-list>
            <ion-item *ngFor="let code of recentScans; let i = index">
              <ion-label>{{ code }}</ion-label>
              <ion-button slot="end" fill="clear" (click)="editRecentScan(i)">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
              <ion-button slot="end" fill="clear" (click)="deleteRecentScan(i)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
          <ion-button (click)="scanBarcode()" expand="block">
            <ion-icon name="barcode-outline" slot="start"></ion-icon>
            Escanear denuevo
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>